body {
    font-family:  'calibri';
    color: white;
    background: rgb(251,63,63);
    background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(252,152,69,1) 100%);
}

header {
    border-bottom: 1px solid wheat;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 10px;
    margin-bottom: 2rem;
}

input[type=file]::file-selector-button {
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  .card {
    background: radial-gradient(circle, rgba(251,63,63,1) 0%, rgba(252,152,69,1) 100%);
  }
  
  input[type=file]::file-selector-button:hover {
    background: rgb(242, 45, 45);
    border: 1px solid rgb(242, 45, 45);
  }